@model IEnumerable<OlympicsWeb.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Silver)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bronze)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Silver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bronze)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
